<div class="pokemon-item" (click)="onPokemonClicked()">
    <p class="pokemon-name">{{pokemon?.name}}</p>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon?.id}}.png" alt="noPic"/>
    <img *ngIf="pokemon?.collected == true" src="https://w7.pngwing.com/pngs/236/1020/png-transparent-poke-ball-pixel-art-pokemon-pixelmon-lapis-theme-text-rectangle-pokemon.png"
    width="20px" height="px" alt="noPic"/>
</div>