<div class="start-page">
    <form class="inputForm">
        <input class="username-input" #input>
        <button class="userinput-btn" (click)="onLoginButtonClicked(input.value)">LOG IN</button>
    </form>
</div>