.start-page {
    background-color: #241623;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.username-input {
    background-color: #D56F3E;
    width: 100px;
    height: 20px;
}

.userinput-btn {
    background-color: #C7EF00;
    width: 100px;
    height: 20px;
}