<div class="navbar" *ngIf="checkLocalStorage()" >
    <div class="title">
        <h6 class="navbar-title">TRAINER: {{getTrainerName()}}</h6>
    </div>
    <div class="buttons">
        <button class="userinput-btn" (click)="goToCataloguePage()">Catalogue Page</button>
    </div>
    <div class="buttons">
        <button class="userinput-btn" (click)="goToTrainerPage()">Trainer Page</button>
    </div>
    <div class="buttons">
        <button class="userinput-btn" (click)="logOut()">Log out</button>
    </div>
</div>