.navbar {
    display: grid;
    background-color: #D0CD94;
    text-align: center;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 120px);
    margin: 20px;
}

.title {
    background-color: #D0CD94;
}

.navbar-title {
    font-size: 22px;
    color: #C7EF00;
    font-weight: bold;
    background-color: #D0CD94;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0CD94;
}

.userinput-btn {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    color: #C7EF00;
    font-weight: bold;
}