<app-pokemon-list></app-pokemon-list>
<div class="catalogue">
    <button class="prevBtn" (click)="previousPage()">PREVIOUS</button>
    <button class="nextBtn" (click)="nextPage()">NEXT</button>
</div>